@charset "UTF-8";
/*------------------------------------*\
	STYLE.CSS
\*------------------------------------*/
/*
Author: 
	jEsuSdA
Twitter:
	@jesusda
Author URL: 
	jesusda.com
Ultima modificación:
	11/04/2013

/*------------------------------------*\
	MAIN
\*------------------------------------*/

body 
{
	background: #FFF url(pics/background-main.png) top left no-repeat;
	color: #2D3335;
	font-size: 2em;
	text-shadow: #D2D6CE 1px 0 2px;
}

a , :link, :visited 
{
	text-decoration: none;
	color: #77507b;
}

h1, h2, h3, h4 
{
	font-size: 100%;
	margin: 0;
	padding: 0;
	font-weight: inherit;
	text-shadow: #2D3335 1px 0 2px;
}


#currentSlide
{
	text-shadow: #2D3335 1px 0 2px;
}

h1 abbr 
{
	font-variant: small-caps;
}

ul, pre 
{
	margin: 0;
	line-height: 1em;
}

html, body 
{
	margin: 0;
	padding: 0;
}

blockquote, q 
{
	font-style: italic;
}

blockquote 
{
	padding: 0 2em 0.5em;
	margin: 0 1.5em 0.5em;
	text-align: center;
	font-size: 1em;
}

blockquote p 
{
	margin: 0;
}

blockquote i 
{
	font-style: normal;
}

blockquote b 
{
	display: block;
	margin-top: 0.5em;
	font-weight: normal;
	font-size: smaller;
	font-style: normal;
}

blockquote b i 
{
	font-style: italic;
}

kbd 
{
	font-weight: bold;
	font-size: 1em;
}

sup
{
	font-size: smaller;
	line-height: 1px;
}


ul.urls 
{
	list-style: none;
	display: inline;
	margin: 0;
}

.urls li 
{
	display: inline;
	margin: 0;
}

.note 
{
	display: none;
}

.external
{
	border-bottom: 1px dashed #0404cd;
	background:url(pics/link.png) right bottom no-repeat;
	padding-right:0.5em;
}

html>body .external 
{
	border-bottom: none;
}

.external:after 
{
	font-size: smaller;
	color: #8f89c0;
}

.mail
{
	background:url(pics/mail.png) right bottom no-repeat;
	padding-right:0.8em;

}

.incremental, .incremental * , .incremental *:after 
{
	color: #fff;
	visibility: visible;
 	list-style: none !important;
}

img.incremental 
{
	visibility: hidden;
}

.slide .current 
{
	color: #fff;
}


/*------------------------------------*\
	SLIDES
\*------------------------------------*/

.slide code 
{
	padding: 2px 0.25em;
	font-weight: bold;
	color: #533;
}

.slide code.bad, code del
{
	color: red;
}

.slide code.old 
{
	color: silver;
}

.slide pre 
{
	padding: 0;
	margin: 0.25em 0 0.5em 0.5em;
	color: #533;
	font-size: 90%;
}

.slide pre code 
{
	display: block;
}

.slide ul 
{
	margin-left: 5%;
	margin-right: 7%;
	margin-top:1em;
	list-style: disc;
}

.slide li 
{
	margin-top: 0.75em;
	margin-right: 0;
	list-style-image:url(pics/dot.png);
}

.slide dl dt
{
	margin-top: 0.75em;
	margin-right: 0;
	padding-left: 20px;
  background: url(pics/dot.png) left center no-repeat transparent;
}

.slide ul ul 
{
	line-height: 1.5;
}

.slide ul ul li 
{
	margin: .2em;
	font-size: 85%;
	list-style-image:url(pics/dot2.png);
}

.slide img.leader
{
	display: block;
	margin: 0 auto;
}

.slide a , .slide a img
{
	border:0;
}

/*------------------------------------*\
	HEAD & FOOTER
\*------------------------------------*/

div#logo
{
	position:absolute;
	top:0%;
	right:0%;
 	background:url(pics/logo.png) 50% 50% no-repeat;
	height:250%;
	width:250px;
}

div#header, div#footer 
{
	background: #a80231;
	color: #FFF;
}

div#header 
{
	background:#5c3566 url(pics/background-head.png) bottom left repeat-x;
	line-height: 1px;
}

div#footer 
{
	background:#5c3566 url(pics/background-foot.png) top left repeat-x;
	font-size: 0.5em;
	font-weight: bold;
	height: 3em;	
	padding-top: 5px;
}

#footer h1, #footer h2 
{
	display: block;
	padding: 0 1em;
}

#footer h2 
{
	font-style: italic;
}

#footer #credits
{
	float: right;
	margin-top: -1.7em;
	padding-right: 1em;
}

/*------------------------------------*\
	CLASSES
\*------------------------------------*/

div.long 
{
	font-size: 0.75em;
}

.slide h1 
{
	position: absolute; 
	top: 0.7em;
/*	left: 87px;*/
	z-index: 1;
	margin: 0;
	padding: 0.5em 0 0 50px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 150%/1em; 
	text-transform: capitalize;
	color: #fff;
	background: url(pics/h1icon.png) left bottom no-repeat transparent;
}

.slide h2 
{
	font-size: 130%;
	color:#5b3566;
}

.slide h3 
{
	font-size: 130%;
}

/*------------------------------------*\
	CONTROLS
\*------------------------------------*/

#controls :active 
{
	color: #fff !important;
}


#controls :focus 
{
	outline: 1px dotted #227;
}

div#controls 
{
	position: absolute; 
	left: 50%; 
	bottom: 0;
	width: 50%;
	text-align: right;
	font: bold 0.9em Verdana, Helvetica, sans-serif;
}

html>body div#controls 
{
	position: fixed; 
	padding: 0 0 1em 0;
	top: auto;
}

div#controls form 
{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#controls #navLinks a 
{
	padding: 0;
	margin: 0 0.5em;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

#controls #navList
{
	height: 1em;
}

#controls #navList #jumplist
{
	position: absolute;
	bottom: 0;
	right: 0;
	background: #eee;
	color: #5c3566 !important;
}

#currentSlide 
{
	text-align: center;
	font-size: 0.6em;
	font-weight:bold;
	color: #fff;

}

#slide0 
{
	padding-top: 3.5em;
	font-size: 90%;
}

#slide0 h1 
{
	position: static;
	margin: 1em 0 0;
	padding: 0;
	/*font: bold 2em Helvetica, sans-serif;*/
	font-weight: bold;
	font-size:2em;
	white-space: normal;
	color: #000;
	background: transparent;
}

#slide0 h2 
{
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	margin: 0.25em;
}

#slide0 h3 
{
	margin-top: 1.5em;
	font-size: 1.5em;
}

#slide0 h4 
{
	margin-top: 0;
	font-size: 1em;
}

div#controls {position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; font: bold 1em Verdana, Arial, Helvetica, sans-serif;}
html>body div#controls {background: transparent; position: fixed; padding: 0; top: auto; text-align: center;}
#controls #sheet {display: none;}

#controls #controlForm
{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#controls #navLinks
{
	border-top: 1px solid #999;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 1.5em;
	width: 100%;
	background-color:#000;
	text-align:center;
	vertical-align:middle;
	white-space: nowrap;
	padding-top:0.2em;
	}

#controls #navLinks ul {margin: 0 auto; padding: 0; height: 32px; width: 500px; white-space: nowrap; text-align: center;}
#controls #navLinks ul li {list-style: none; display: inline; margin: 0; padding: 0; float: left; height: 32px; width: 32px; text-align: center; background-color: transparent;}
#controls #navLinks ul li.vr {list-style: none; display: inline; margin: 0px 2px; padding: 0; float: left; height: 32px; width: 1px; text-align: center; background-color: #606060;}
#controls #navLinks ul li a {margin: 0; padding: 0; float: left; height: 32px; width: 32px; background-color: transparent;}
#controls #navLinks ul li#exit {background: url(controls/exit_link.png) no-repeat top left;}
#controls #navLinks ul li#exit a:hover {background: url(controls/exit_over.png) no-repeat bottom left;}
#controls #navLinks ul li#toggle {background: url(controls/toggle_link.png) no-repeat top left;}
#controls #navLinks ul li#toggle a:hover {background: url(controls/toggle_over.png) no-repeat bottom left;}
#controls #navLinks ul li#show-notes {background: url(controls/notes_link.png) no-repeat top left;}
#controls #navLinks ul li#show-notes a:hover {background: url(controls/notes_over.png) no-repeat bottom left;}
#controls #navLinks ul li#zero {background: url(controls/zero_link.png) no-repeat top left;}
#controls #navLinks ul li#zero a:hover {background: url(controls/zero_over.png) no-repeat bottom left;}
#controls #navLinks ul li#prev {background: url(controls/prev_link.png) no-repeat top left;}
#controls #navLinks ul li#prev a:hover {background: url(controls/prev_over.png) no-repeat bottom left;}
#controls #navLinks ul li#next {background: url(controls/next_link.png) no-repeat top left;}
#controls #navLinks ul li#next a:hover {background: url(controls/next_over.png) no-repeat bottom left;}
#controls #navLinks ul li#last {background: url(controls/last_link.png) no-repeat top left;}
#controls #navLinks ul li#last a:hover {background: url(controls/last_over.png) no-repeat bottom left;}
#controls #navLinks ul li#lst {background: url(controls/list_link.png) no-repeat top left;}
#controls #navLinks ul li#fade a.isoff {background: url(controls/fade_link.png) no-repeat top left;}
#controls #navLinks ul li#fade a.ison {background: url(controls/fade_on.png) no-repeat top right;}
#controls #navLinks ul li#fade a:hover {background: url(controls/fade_over.png) no-repeat bottom left;}
#controls #navLinks ul li#audio {background: url(controls/audio_link.png) no-repeat top left;}
#controls #navLinks ul li#audio a.isoff {background: url(controls/audio_link.png) no-repeat top left;}
#controls #navLinks ul li#audio a.ison {background: url(controls/audio_on.png) no-repeat top right;}
#controls #navLinks ul li#audio a:hover {background: url(controls/audio_over.png) no-repeat bottom left;}
#controls #navLinks ul li#vol {background: url(controls/volume_link.png) no-repeat top left;}
#controls #navLinks ul li#auto a.isoff {background: url(controls/auto_link.png) no-repeat top left;}
#controls #navLinks ul li#auto a.ison {background: url(controls/auto_on.png) no-repeat top right;}
#controls #navLinks ul li#auto a:hover {background: url(controls/auto_over.png) no-repeat bottom left;}
#controls #navLinks ul li#pause a.isoff {background: url(controls/pause_link.png) no-repeat top left;}
#controls #navLinks ul li#pause a.ison {background: url(controls/pause_on.png) no-repeat top right;}
#controls #navLinks ul li#pause a:hover {background: url(controls/pause_over.png) no-repeat bottom left;}
#controls #navLinks ul li#loop a.isoff {background: url(controls/loop_link.png) no-repeat top left;}
#controls #navLinks ul li#loop a.ison {background: url(controls/loop_on.png) no-repeat top right;}
#controls #navLinks ul li#loop a:hover {background: url(controls/loop_over.png) no-repeat bottom left;}
#controls #navLinks ul li#del {background: url(controls/delay_link.png) no-repeat top left;}
#jumplist, #volumelist, #delaylist {padding: 0; margin: 0; width: 32px; height: 32px; cursor: n-resize;}

#csFade , #csAuto
{
	font-size: 70%;
	color: #4d1e53;
}

/*------------------------------------*\
	JESUSDA ADDONS
\*------------------------------------*/

.first-pic
{
	float:right;
	margin-top:-2em;
}

.align-center
{
	text-align:center;
}

.float-left , .left-column
{
	float:left !important;
	width:49% !important;
}

.float-right , .right-column
{
	float:right !important;
	width:49%  !important;
}

.fullscreen h1
{
	display:none;
}

.rotulo
{
	font-size:800%;
	text-align:center;
	margin-top:-0.05em;
}

.rotulo1
{
	font-size:300%;
	text-align:center;
	margin-top:-0.05em;
}

.rotulo2
{
	font-size:200%;
	text-align:center;
	margin-top:-0.05em;
}

.rotulo3
{
	font-size:500%;
	text-align:center;
	margin-top:-0.05em;
}

.align-center img
{
	margin:auto;
	text-align:center;
}

p.fill img 
{
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  margin: auto;
  z-index: -1;
}


.fullscreen
{
	z-index:1000 !important;
	position:fixed !important;
	top:0;
	left:0;
	width:100% !important;
 	height:100% !important;
	text-align:center;
	margin-left:-1.65em;
	background: #fff url(pics/background-main.png) top left no-repeat;
}

.background-black
{
	background: url(pics/background-black.jpg) 50% 0 repeat;
}

.background-white
{
	background: url(pics/background-white.jpg) 50% 0 repeat;
}

.fullscreen img
{
	max-width: 100%;
	height: auto;
}

.fullscreen p.fill img {
  max-height: 100% !important;
  min-width: 100% !important;
  min-height: inherit !important;
}


.smalltext
{	font-size: 80%;}

.verysmalltext
{	font-size: 50%;}

img {
	max-width: 100%;
	height: auto;
}

/*------------------------------------*\
	THEME STYLES
\*------------------------------------*/


@font-face 
{
  font-family: "presentacion";
  src: url(Trebuchet_MS.ttf) format("truetype");
}

@font-face {
    font-family: "HPBold";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/hps-euro-bold-eot.eot") format("embedded-opentype"), url("fonts/hps-euro-bold-woff.woff") format("woff"), url("fonts/hps-euro-bold-ttf.ttf") format("truetype");
}
@font-face {
    font-family: "HPRegular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/hps-euro-regular-eot.eot") format("embedded-opentype"), url("fonts/hps-euro-regular-woff.woff") format("woff"), url("fonts/hps-euro-regular-ttf.ttf") format("truetype");
}



body 
{
	background: #FFF url(pics/background-main.png) top left no-repeat;
	color: #2D3335;
	font-size: 2em;
  	font-family: "HPRegular", Arial, Helvetica, sans-serif;
	text-shadow: #D2D6CE 1px 0 2px;
}

strong
{
  	font-family: "HPBold", Arial, Helvetica, sans-serif;
  	font-weight: normal !important;
}

table
{
	width:90%;
	margin:auto auto 0.5em auto;
	border:1px solid #7A7A7A;
	border-collapse:separate;
	background:url(pics/table-background.png) bottom center repeat-x;
}

td img
{
	border:0;
}


caption

{
	margin-top:2em;
	padding:0.2em;
	font-style:italic;
}

td
{
	margin:0;
	padding:0.5em;
	border:1px solid #AAAAAA;
	border-collapse:collapse;
}

th
{
	text-align:center;
	padding:0.4em;
	color:#fff;
	font-size:105%;
/* 	border-left:1px solid #7A7A7A; */
/* 	border-right:1px solid #7A7A7A; */
	background:url(pics/table-header.png) bottom center repeat-x #000;
}


h1 a
{
	color: #fff !important;
	background: url(pics/link-symbolic.png) 100% 100% no-repeat transparent;
	padding-right: 20px;
}

h1 a:hover
{
	text-decoration: underline !important;
	background: url(pics/link-symbolic2.png) 100% 100% no-repeat transparent;
}


/*li:after {content: " [" attr(class) "]"; color: #F88;}*/
