<config>
	<image>../logo-curso.png</image>
	
	<autostart>false</autostart>
	<repeat>false</repeat>
	<volume>100</volume>

<!--   <playlist>right</playlist>-->

	<playlist.size>150</playlist.size>
	<controlbar>bottom</controlbar>
	<icons>true</icons>
	
	<backcolor>#ffffff</backcolor>
	<frontcolor>#5B3566</frontcolor>
	<screencolor>#ffffff</screencolor>
	
	<height>400</height>
	<width>500</width>
	<stretching>fill</stretching>
	<smoothing>true</smoothing>
	
</config> 
